/* Text-Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Young+Serif&display=swap');
/* ---------- */

:root {
    --color-font-primary: rgb(255, 255, 255);
    --color-font-secundary: #35afdf;
    --color-btn: #b8cbd3;
    --color-bg-primary: #454449;
    --font-special: 'Cormorant', serif;
    --font-secundary: 'Young Serif', serif;
    --color-font-sections: #E9F1F7;
    --color-font-section-secundary: #F1EFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secundary);
    list-style: none;
    border: none;
    text-decoration: none;
}

html {
    width: 100vw;
    height: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Menu */

.header {
    background-color: #000000;
    /* background-color: var(--color-bg-primary); */
    width: 100vw;
    height: 7em;
    display: flex;
    align-items: center;
    padding: 13px;
    justify-content: space-between;
    position: fixed;
    
    /* box-sizing: border-box; */

}

.header a {
    font-family: var(--font-special);
    color: var(--color-font-primary);
    text-decoration: none;
}

.header .logo {
    font-size: 2.6em;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -9px;
    padding-bottom: 10px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.header ul li {
    font-size: 1.6em;
    margin: 0 30px;
    font-weight: 600;
}

/* Borda no menu */
.header ul li a {
    padding-bottom: 17px;
}

.header a:hover{
    /* color: var(--color-font-secundary); */
    border-bottom: 2px solid;
    color: var(--color-font-secundary);
}

/* First-Section */

.first-section {
    background-image: linear-gradient(rgba(2, 2, 1, 0.6), rgba(2, 2, 2, 0.6)),url("/images/bg1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .container1 {
    margin-top: 80px;
}

.first-section .container1 h1 {
    color: var(--color-font-sections);
    font-size: 2.6rem;
    text-transform: uppercase;
    
}

.first-section h3 {
    margin: 10px;
    color: var(--color-font-section-secundary);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.container-btn {
    display: flex;
    justify-content: center;
    margin-top: 7em;
}

.container-btn button {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 100ms ease-in;
    margin: 10px;
}

.container-btn button:hover {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    transition: 100ms;
    text-transform: uppercase;
    border: none;
}



/* Second-Section */


.second-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.second-section .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
} 

.second-section h1 {
    margin-bottom: .6em;
}

.second-section p {
    font-size: 1.4em;
    font-weight: 700;
    width: 80rem;
    text-align: center;
}

.container-info {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10em;
}

.container-text {
    width: 25vw;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: rgb(242, 243, 245);
    transition: .60s;
}

.container-text:hover {
    background-color: #d9dbdb;
}

.container-text h2 {
    width: 5em;
    margin-bottom: .3em;
    margin-right: 6.3em;
    font-weight: bold;
    font-family: var(--font-special);
    font-size: 3em;
}

.container-text p {
    width: 24em;
    margin-top: 1.3em;
    text-align: start;
    margin-left: 3.8em;
    margin-right: 4em;

    font-weight: 200;
}

.container-text p:nth-child(3) {
    font-weight: 200;
    margin-bottom: 1.3em;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.container-img .img2 {
    width: 10vw;
    height: 40vh;
}

.container-img .img3 {
    width: 10vw;
    height: 40vh;
    border-radius: 0 15px 15px 0;
}

