/* Text-Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* ---------- */

:root {
    --color-font-header: rgb(255, 255, 255);
    --color-font-hover: rgb(255, 251, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    list-style: none;
    border: none;
    text-decoration: none;
}

html {
    width: 100vw;
    height: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    background-color: #000000;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    /* box-sizing: border-box; */
}

.header a {
    color: var(--color-font-header);
}

.header .logo {
    font-size: 2.6em;
    font-weight: bold;
    margin-left: 20px;
}

.header ul {
    display: flex;
}

.header ul li {
    font-size: 1.8em;
    margin: 0 30px;
    font-weight: 600;
}

.header ul li a {
    color: var(--color-font-header);
    border-radius: 20px;
    padding: 5px;
}

.header a:hover,
.header ul li a:hover {
    /* background: rgb(202, 197, 197); Borda  */
    color: var(--color-font-hover);
}
